<!-- what client says section
<section class="client-area pt-110 testimonial-area bg_disable">
    <div class="container">
        <div class="section-title">
            <h2 class="wow fadeInUp mb-0">Word on the street <img src="{{ site.baseurl }}/assets/img/emojii/chat-emojii.svg" class="ps-2" alt="Chat Bubble"></h2>
        </div>
        <div class="client-slider pt-45 pb-140 mb-0">
            <div class="single-client wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid rounded-circle" src="{{ site.baseurl }}/assets/img/client/client-1.png" alt="cleint">
                <p class="quote">F3 has brought other men as friends and brothers into my life, that have shown me a level of support I’ve not had since
                leaving active duty military service.</p>
                <div class="client-info">
                    <div>
                        <p>Tom “Mustache Ride” Selleck</p>
                        {{/*  <span class="role">Ui / Ux Designer</span>  */}}
                    </div>
                </div>
            </div>
            <div class="single-client wow fadeInUp" data-wow-delay="0.3s">
                <img class="img-fluid rounded-circle" src="{{ site.baseurl }}/assets/img/client/client-2.png" alt="cleint">
                <p class="quote">After hearing about F3 from the “Mando” I quickly joined and regained physicality, developed new male relationships, and
                created mentorship opportunities.</p>
                <div class="client-info">
                    <div>
                        <p>Temuera “DaFett” Morrison</p>
                        {{/*  <span class="role">Spider Themes,CEO</span>  */}}
                    </div>
                </div>
            </div>
            <div class="single-client wow fadeInUp" data-wow-delay="0.5s">
                <img class="img-fluid rounded-circle" src="{{ site.baseurl }}/assets/img/client/client-3.png" alt="cleint">
                <p class="quote">I struggled while on set to find that “missing something”. When I found F3, I found the fix and everything fell into place. Get out and try it...you’ll thank me one day!</p>
                <div class="client-info">
                    <div>
                        <p>Ryan “Ry Ry” Seacrest</p>
                        {{/*  <span class="role">Junior web developer</span>  */}}
                    </div>
                </div>
            </div>
            <div class="single-client wow fadeInUp" data-wow-delay="0.7s">
                <img class="img-fluid rounded-circle" src="{{ site.baseurl }}/assets/img/client/client-1.png" alt="cleint">
                <p class="quote">F3 has brought other men as friends and brothers into my life, that have shown me a level of support
                    I’ve not had since
                    leaving active duty military service.</p>
                <div class="client-info">
                    <div>
                        <p>Tom “Mustache Ride” Selleck</p>
                        {{/* <span class="role">Ui / Ux Designer</span> */}}
                    </div>
                </div>
            </div>
            <div class="single-client wow fadeInUp" data-wow-delay="0.9s">
                <img class="img-fluid rounded-circle" src="{{ site.baseurl }}/assets/img/client/client-2.png" alt="cleint">
                <p class="quote">After hearing about F3 from the “Mando” I quickly joined and regained physicality, developed new male
                    relationships, and
                    created mentorship opportunities.</p>
                <div class="client-info">
                    <div>
                        <p>Temuera “DaFett” Morrison</p>
                        {{/* <span class="role">Spider Themes,CEO</span> */}}
                    </div>
                </div>
            </div>
            <div class="single-client wow fadeInUp" data-wow-delay="1.5s">
                <img class="img-fluid rounded-circle" src="{{ site.baseurl }}/assets/img/client/client-2.png" alt="cleint">
                <p class="quote">F3 has brought other men as friends and brothers into my life, that have shown me a level of support
                    I’ve not had since
                    leaving active duty military service.</p>
                <div class="client-info">
                    <div>
                        <p>Tom “Mustache Ride” Selleck</p>
                        {{/* <span class="role">Ui / Ux Designer</span> */}}
                    </div>
                </div>
            </div>
            <div class="single-client wow fadeInUp" data-wow-delay="1.7s">
                <img class="img-fluid rounded-circle" src="{{ site.baseurl }}/assets/img/client/client-3.png" alt="cleint">
              <p class="quote">I struggled while on set to find that “missing something”. When I found F3, I found the fix and
                    everything fell into place. Get out and try it...you’ll thank me one day!</p>
                <div class="client-info">
                    <div>
                        <p>Ryan “Ry Ry” Seacrest</p>
                        {{/* <span class="role">Junior web developer</span> */}}
                    </div>
                </div>
            </div>
        </div>

        <!-- call to action area
        <div class="row pt-110">
            <div class="col-md-12 position-relative">
                <div class="cta cta-2" style="background-image: url(img/client/cta-bg.png);">
                    <div class="bubbles">
                        <div class="bubble-1"></div>
                        <div class="bubble-2"></div>
                        <div class="bubble-3"></div>
                        <div class="bubble-4"></div>
                        <div class="bubble-5"></div>
                        <div class="bubble-6"></div>
                        <div class="bubble-7"></div>
                        <div class="bubble-8"></div>
                    </div>
                    <div class="row gy-xl-0 gy-4">
                        <div class="col-xl-5">
                            <div class="cta-content wow fadeInLeft text-center text-xl-start">
                                <h2>Download Our Free Mobile App</h2>
                            </div>
                        </div>
                        <div
                            class="col-xl-7 d-flex align-items-center flex-wrap justify-content-xl-end justify-content-center">
                            <a href="#">
                                <div class="app-btn mt-3 mt-sm-0 wow fadeInRight" data-wow-delay="0.1s">
                                    <i class="fab fa-google-play"></i>
                                    <div class="btn-text">
                                        <span>GET IT ON</span>
                                        <p>Google Play</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="app-btn mt-3 mt-sm-0 wow fadeInRight" data-wow-delay="0.2s">
                                    <i class="fab fa-apple"></i>
                                    <div class="btn-text">
                                        <span>Downloan on the</span>
                                        <p>Apple Store</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->

<!-- Testimonial start -->
<section class="pt-140 pb-140 testimonial-area bg_disable">
    <div class="section-title">
        <h1 class="wow fadeInUp mb-5">Word on the street <img src="{{ site.baseurl }}/assets/img/emojii/chat-emojii.svg"
                class="ps-2" alt="Chat Bubble"></h1>
    </div>
    <div class="container-fluid px-0">
        <div class="testimonial-slider">
            <div class="single-slider container px-0">
                <div class="testimonial-widget">
                    <div class="row">
                        <div class="col-4">
                            <div class="author-img">
                                <img src="{{ site.baseurl }}/assets/img/testimonial/selleck.webp" alt="image">
                            </div>
                        </div>
                        <div class="col-8 d-flex align-items-center">
                            <div class="testimonial-content">
                                <div class="watch-button">
                                    <a data-fancybox href="https://www.youtube.com/watch?v=xcJtL7QggTI">
                                        <i class="fa fa-play"></i>
                                        watch the video
                                    </a>
                                </div>
                                <h2>Unrivaled brotherhood and support!</h2>
                                <p class="pr-lg-60">F3 has brought other men as friends and brothers into my life, that have shown me a level of support I’ve not had since leaving active duty military service.
                                </p>
                                <div class="author-info">
                                    <h4>Tom “Mustache Ride” Selleck</h4>
                                    <span>F3 Colorado Springs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider container px-0">
                <div class="testimonial-widget">
                    <div class="row">
                        <div class="col-4">
                            <div class="author-img">
                                <img src="{{ site.baseurl }}/assets/img/testimonial/fett.webp" alt="image">
                            </div>
                        </div>
                        <div class="col-8 d-flex align-items-center">
                            <div class="testimonial-content">
                                <div class="watch-button">
                                    <a data-fancybox href="https://www.youtube.com/watch?v=xcJtL7QggTI">
                                        <i class="fa fa-play"></i>
                                        watch the video
                                    </a>
                                </div>
                                <h2>Iron Sharpens Iron!</h2>
                                <p class="pr-lg-60">After hearing about F3 from the “Mando” I quickly joined and regained physicality, developed new male relationships, and
                                created mentorship opportunities.
                                </p>
                                <div class="author-info">
                                    <h4>Temuera “DaFett” Morrison</h4>
                                    <span>F3 Mos Espa - Tatooine</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider container px-0">
                <div class="testimonial-widget">
                    <div class="row">
                        <div class="col-4">
                            <div class="author-img">
                                <img src="{{ site.baseurl }}/assets/img/testimonial/seacrest.webp" alt="image">
                            </div>
                        </div>
                        <div class="col-8 d-flex align-items-center">
                            <div class="testimonial-content">
                                <div class="watch-button">
                                    <a data-fancybox href="https://www.youtube.com/watch?v=xcJtL7QggTI">
                                        <i class="fa fa-play"></i>
                                        watch the video
                                    </a>
                                </div>
                                <h2>Making dreams a reality!</h2>
                                <p class="pr-lg-60">I struggled while on set to find that “missing something”. When I found F3, I found the fix and everything fell into
                                place. Get out and try it...you’ll thank me one day!
                                </p>
                                <div class="author-info">
                                    <h4>Ryan "RY RY" Seacrest</h4>
                                    <span>F3 L.A.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial end -->