<!-- what client says section -->
<section class="client-area pt-110 testimonial-area bg_disable">
    <div class="container">
        <div class="section-title">
            <h2 class="wow fadeInUp mb-0">Word on the street <img src="{{ site.baseurl }}/assets/img/emojii/chat-emojii.svg" class="ps-2" alt="Chat Bubble"></h2>
        </div>
        <div class="client-slider pt-45 pb-140 mb-0">
            <div class="single-client wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid rounded-circle" src="{{ site.baseurl }}/assets/img/client/client-1.png" alt="cleint">
                <p class="quote">I love hard workouts and pushing myself physically. I love working out in the morning. It was a natural fit, and then I found out that the HIMs that come out are great men too!</p>
                <div class="client-info">
                    <div>
                        <p>Mark "Katniss" Peterson</p>
                        {{/*  <span class="role">Ui / Ux Designer</span>  */}}
                    </div>
                </div>
            </div>
            <div class="single-client wow fadeInUp" data-wow-delay="0.3s">
                <img class="img-fluid rounded-circle" src="{{ site.baseurl }}/assets/img/client/client-2.png" alt="cleint">
                <p class="quote">After hearing about F3 from the “Mando” I quickly joined and regained physicality, developed new male relationships, and
                created mentorship opportunities.</p>
                <div class="client-info">
                    <div>
                        <p>Temuera “DaFett” Morrison</p>
                        {{/*  <span class="role">Spider Themes,CEO</span>  */}}
                    </div>
                </div>
            </div>
            <div class="single-client wow fadeInUp" data-wow-delay="0.5s">
                <img class="img-fluid rounded-circle" src="{{ site.baseurl }}/assets/img/client/client-3.png" alt="cleint">
                <p class="quote">I struggled while on set to find that “missing something”. When I found F3, I found the fix and everything fell into place. Get out and try it...you’ll thank me one day!</p>
                <div class="client-info">
                    <div>
                        <p>Ryan “Ry Ry” Tomlinson</p>
                        {{/*  <span class="role">Junior web developer</span>  */}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Testimonial end -->