<!-- start CTA banner section -->
<section class="cta-area bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 position-relative px-0">
                <div class="cta-alt">
                    <div class="row align-items-center">
                        <div class="col-md-7">
                            <div class="cta-content wow fadeInRight">
                                <h2 class="mb-10">{{ page.cta_heading }}</h2>
                                <p class="lead">{{ page.cta_blurb }}</p>
                            </div>
                        </div>
                        <div class="col-md-5 text-md-end">
                            <div class="cta-content text-md-end mt-3 mt-md-0">
                                <a href="{{ page.cta_button_link | prepend: site.baseurl }}"
                                    class="theme-btn theme-btn-alt wow fadeInLeft m-0">{{ page.cta_button_text }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end CTA banner section -->