<!-- footer -->
<footer class="footer footer-3">
  <div class="footer-top pt-20 pb-lg-20 pb-100">
    <div class="container">
      <div class="row gx-0 pt-45 ">

        <div class="col-lg-4 col-sm-6 text-center text-sm-start ms-0 ">
          <div class="footer-widget wow fadeInLeft mb-30 text-center">
            <a href="{{ "/index" | absolute_url }}">
              <img src="{{ site.baseurl }}/assets/img/logo/f3-logo-white.png" alt="Official F3 Logo">
            </a>
            <div class="footer-text mt-4 mb-20">
              <p>"Leave no man behind, but leave no man where you found him."</p>
            </div>
          </div>
        </div>


        <div class="col-lg-2 col-sm-6 text-center text-sm-start ms-lg-5 ">
          <div class="footer-widget mb-30 wow fadeInUp" data-wow-delay="0.1s">
            <div class="f-widget-title">
              <h5>New Here?</h5>
            </div>
            <div class="footer-link">
              <ul>
                <li><a href="{{ site.baseurl }}/about">About F3</a></li>
                <li><a href="{{ site.baseurl }}/get-started"> Getting Started </a></li>
                <li><a data-fancybox href="https://vimeo.com/143444379"> What is F3 video</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-widget mb-30 wow fadeInUp" data-wow-delay="0.1s">
            <div class="f-widget-title">
              <h5>F3 Nation</h5>
            </div>
            <div class="footer-link">
              <ul>
                <li><a href="https://f3nation.com/" target="_blank"> F3 Nation Official</a></li>
                <li><a href="https://f3.mudgear.com/" target="_blank"> Gear &amp; Stuff</a></li>
                <li><a href="https://open.spotify.com/show/2cLqceVM5G1R5ZKUVNLHr3?si=01ded7c8706b4ae3" target="_blank"> F3 Gateway Podcast</a></li>
                <li><a href="https://growruck.com/" target="_blank"> Growruck</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2  col-sm-6 text-center text-sm-start ms-lg-5">
          <div class="footer-widget mb-30 wow fadeInUp" data-wow-delay="0.3s">
            <div class="f-widget-title">
              <h5>For Pax</h5>
            </div>
            <div class="footer-link">
              <ul>
                {{/*  <li><a href="#"> Backblasts</a></li>
                <li><a href="#"> Focus on the Form</a></li>
                <li><a href="#"> Safety Steps</a></li>
                <li><a href="#"> AO Stats</a></li>  */}}
                <li><a href="https://f3nation.com/q-source/" target="_blank"> QSource</a></li>
                <li><a href="https://f3nation.com/lexicon/" target="_blank"> Lexicon (the Lingo)</a></li>
                <li><a href="https://f3nation.com/exicon/" target="_blank"> Exicon (Exercises)</a></li>
                <li><a href="https://f3nation.com/q/" target="_blank"> Leadership Guide</a></li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-lg-2 col-sm-6 text-center text-sm-start me-0 ms-lg-5">
          <div class="footer-widget mb-30 wow fadeInUp" data-wow-delay="0.5s">
            <div class="f-widget-title">
              <h5>Workout Locations</h5>
            </div>
            <div class="footer-link">
              <ul>
                {% for locations in site.locations %}
                  <li>
                    <a href="{{ locations.url | prepend: site.baseurl }}">
                      {{ locations.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- copyright area -->
  <div class="copyright pt-25 pb-25">
    <div class="container">
      <div class="row align-items-center">
        {{/*  <div class="col-lg-3 text-center text-lg-start">
          <a href="/" class="p-0 m-0"><img src="../assets/img/logo/Logo.png" alt="logo"></a>
        </div>  */}}
        <div class="col-lg-6 my-3 my-sm-0">
          <div class="copyright-text">
            <p>&copy; F3 Blue Ridge 2023. All rights reserved. <br class="d-sm-none"><a class="ms-2" href="https://f3nation.com/disclaimer-and-notice/" target="_blank">Disclaimer &amp; Notice.</a><a class="banana" data-fancybox="" href="https://youtu.be/HNd9YvKa6mc" tabindex="0" data-bs-toggle="tooltip"
              data-bs-title="C'mon, do it...you know you want to click it.">
              <img src="{{ site.baseurl }}/assets/img/emojii/banana-emojii.png" alt="Banana Emojii of mystery">
            </a>
            </p>

          </div>
        </div>
        <div class="col-lg-6 text-right text-lg-end wow" data-wow-delay="0.3s">
          <div class="social-button">
            {%- if social.facebook -%}
            <a href="{{ social.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
            {%- endif -%}
            {%- if social.instagram -%}
            <a href="{{ social.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
            {%- endif -%}
            {%- if social.twitter -%}
            <a href="{{ social.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
            {%- endif -%}
            {%- if social.slack-%}
            <a href="{{ social.slack }}" target="_blank"><i class="fab fa-slack"></i></a>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->