@import "theme/main";

.fs-5 {
  font-size: 1.15rem !important;
}

.dotted-underline {
  border-bottom: 2px solid;
  border-image: repeating-linear-gradient(to right,$primary-color 0 2px,transparent 2px 5px);
  border-image-slice: 3;
  font-weight: 600;
}

a.standard {
	color: $primary-color;
	text-decoration: none;
	display: inline;
	background-image: linear-gradient(transparent calc(100% - 2px), $primary-color 2px);
	background-size: 0 4px;
	background-position: bottom center;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease;
	&:hover {
		background-size: 100% 4px;
	}
}

@media (max-width: 575px) {
  // .py-sm-0 {
  //   padding-top: 0;
  //   padding-bottom: 0;
  // }
  .py-sm-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}


// Override BS Alert Dark class
.alert-dark {
  background-color: #000;
  color: white;
    button.btn-close {
        color: white;

    }
}
.alert-dark .alert-link {
  color: var(--primary-color-light);
  font-weight: normal;
}

// Customized BS Nav Tabs style

.f3-tabs {
  --bs-nav-tabs-border-width: 2px;
  --bs-nav-tabs-border-color: #000000;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: #000000 #000000 #000000;
  --bs-nav-tabs-link-active-color: #495057;
  --bs-nav-tabs-link-active-bg: #fff;
  --bs-nav-tabs-link-active-border-color: #000000 #000000 #ffffff;
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
  @media (max-width: 575px) {
    border-bottom: 0
  }
}
.f3-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background: #000;
  border: var(--bs-nav-tabs-border-width) solid transparent;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
  color: white;
  font-weight: 500;
  @media (max-width: 575px) {
    border-radius: var(--bs-nav-tabs-border-radius);
    margin-bottom: .5rem;
  }
}
.f3-tabs .nav-link:hover, .f3-tabs .nav-link:focus {
  isolation: isolate;
  color: $primary-color
  // border-color: var(--bs-nav-tabs-link-hover-border-color);
}
.f3-tabs .nav-link.active,
.f3-tabs .nav-item.show .nav-link {
  pointer-events: none;
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
  @media (max-width: 575px) {
    border-color: black;
  }
}

iframe {
  border: 2px solid black;
  border-radius: 4px;
}

.location {
  background-color: $blue-600;
}

.image-strip {
    position: absolute;
    top: -70px;
    left: 15px;
}

.breadcrumb-item a:hover{
  text-decoration: underline;
}

.breadcrumb-item.active, .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255,255,255, 0.4);
}

.breadcrumb {
  font-size: 18px;
}

.location-images {
  top: 80px;
   @media (max-width: 575px) {
    top: 40px;
  }
}

/* slide when not active/center*/
.slick-slide,
  .slick-slide[aria-hidden="true"]:not(.slick-cloned)
  ~ .slick-cloned[aria-hidden="true"] {
  // transform: scale(0.7, 0.7);
  transition: transform 0.3s;
  opacity: 1;
}
/* slide when active/center */
.slick-center,
  .slick-slide[aria-hidden="true"]:not([tabindex="-1"])
  + .slick-cloned[aria-hidden="true"] {
  transform: scale(1, 1);
  opacity: 1;
}
.slick-slide img {
  margin: 0 auto;
  border-radius: 4px;
}

    .fancy-link {
      display: inline-block;
      color: $theme-color;
      i {
        transform-origin: left;
        transform: translateY(2px) scaleX(0);
        transition: transform 0.3s ease-out;
        font-size: 20px;
        display: inline-block;
      }
      &:hover {
        color: $blue-600;
        i {
          transform: translateY(2px) scaleX(1);
        }
      }
    }

.job-application-area {
  @media only screen and (min-width: 575px) and (max-width: 991px) {
    margin-top: 80px !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  .pb-md-100 {
    padding-bottom: 100px;
  }
}

.logo-seal {
  transform: rotate(-8deg);
  transition: all ease-in-out 0.3s;
  position: relative;
  text-align: center;
  bottom: 100px;
  overflow: hidden;
  width: 100%;
  max-width: 509px;
  &:hover, &:focus {
    transform: rotate(0deg);
  }
  @media (max-width: 1200px) {
    width: 75%;
  }
}

.lh-lg {
  line-height: 1.7 !important;
}

.primary-gradient {
  background: rgb(33,133,255) !important;
  background: linear-gradient(163deg, rgb(33, 133, 255) 31%, rgb(0 98 217) 76%) !important;
  .theme-btn-2 {
    span, i {
      color: white;
    }
    &::before {
      background-color: transparent;
      border: 2px solid #5ca1ff;
    }
  }
  @media (max-width: 767px) {
   background: black !important;
   h4 {
    font-size: 1.2rem;
   }
  .theme-btn-2 {
      span, i {
        color: white;
      }
      &::before {
        background-color: $primary-color;
        border: none;
      }
    }
  }
}



.cta-area {
  background-image: url(../img/home/cta-running.webp);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: soft-light;
  padding: 70px 110px 70px 100px;
  @media (max-width: 767px) {
    background-size: cover;
    padding: 40px 25px;
  }
}

// Custom underline style
$underlineColor: $primary-color;
$underlineHeight: 8%;

.underline1 {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 4px;
  transition: color ease 0.3s;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: $underlineHeight;
    left: 0;
    bottom: 0;
    background-color: $underlineColor;
    transition: all ease 0.3s;
  }

  &:hover {
    color: white;

    &::after {
      height: 100%;
    }
  }
}

.get-started-img {
    background: url(../img/get-started/fist-bump.webp) no-repeat center center;
    height: 376px;
    background-size: contain;
    @media (max-width: 767px) {
      background-size: cover;
    }
}
.about-img img {
  @media (max-width: 767px) {
    transform: scale(1.5);
    padding: 2rem 0;
  }
}

.three-f {
  position: absolute;
  top: -13.75rem;
  @media (max-width: 575px) {
      top: -11.75rem;
  }
  h2 {
    font-size: 8rem;
    font-weight: bold;
    overflow: hidden;
    @media (max-width: 575px) {
      font-size: 6rem;
    }
  }
  h2::after {
    content: "";
    display: inline-block;
    position: absolute;
    background: url(../img/about/man-pushup.svg) no-repeat;
    width: 279px;
    height: 83px;
    top: 2.4rem;
    @media (max-width: 811px) {
      left: 12.25rem;
      top: -2rem;
    }
    @media (max-width: 575px) {
      width: 60%;
      left: 7rem;
      top: -2rem;
      transform: scale(.75);
    }
  }
  &.fellowship {
    top: -17.5rem;
    @media (max-width: 991px) {
      top: -16.45rem;
    }
    @media (max-width: 767px) {
      top: -15.35rem;
    }
    @media (max-width: 575px) {
      top: -13.8rem;
    }
    h2 {
      padding-left: 5rem;
      text-shadow: 6px 0px black;
      @media (max-width: 991px) {
        font-size: 7rem;
        padding-left: 0;
      }
      @media (max-width: 767px) {
        font-size: 5.75rem;
      }
      @media (max-width: 575px) {
        font-size: 4rem;
      }
    }
    h2::after {
      display: none;
    }
    h2::before {
      content: "";
      display: inline-block;
      position: absolute;
      background: url(../img/about/men-fellowship.svg) no-repeat;
      width: 277px;
      height: 123px;
      left: 170px;
      @media (max-width: 1198px) {
        left: 0
      }
      @media (max-width: 991px) {
        left: 7.8rem;
        top: -4.25rem;
        transform: scale(.75);
      }
      @media (max-width: 575px) {
        left: 4.3rem;
        top: -5rem;
      }
    }
  }
  &.faith {
    h2::after {
      background: url(../img/about/man-pray.webp) no-repeat;
      width: 171px;
      height: 121px;
      top: 1rem;
      @media (max-width: 811px) {
        left: 22.25rem;
      }
      @media (max-width: 575px) {
        top: 0;
        left: 16rem;
        width: 37%;
      }
    }
  }
}

.fitness-images {
  position: relative;
  > div {
    position: absolute;
    border-radius: 6px;
    img {
      border-radius: 6px;
    }
    @media (max-width: 991px) {
      position: relative;
      top: 0 !important;
      left: 0 !important;
      bottom: 0 !important;
      padding-top: 2rem;
      border: 0 !important;
      img {
        width: 100%;
        max-width: 400px;
      }
    }
  }
  .image-1 {
    top: 50px;
    z-index: 2;
    right: 0;
  }
  .image-2 {
    bottom: 50px;
    left: 130px;
    z-index: 3;
    border: 8px solid black;
  }
}

.fellowship-images {
   position: relative;
  > div {
    position: absolute;
    border-radius: 6px;
    img {
      border-radius: 6px;
    }
    @media (max-width: 1198px) {
      position: relative;
      top: 0 !important;
      left: 0 !important;
      bottom: 0 !important;
      border: 0 !important;
      padding-bottom: 2rem;
      img {
        width: 100%;
        max-width: 400px;
      }
    }
  }
  .image-1 {
    top: 50px;
    z-index: 3;
  }
  .image-2 {
    top: 275px;
    right: 75px;
    z-index: 4;
  }
  .image-3 {
    bottom: 50px;
    left:50px;
    z-index: 5;
  }
}