---
layout: default
---
<!-- BEGIN Intro -->
<section class="pt-150 pt-lg-200 mt-lg-80 mb-lg-100 mb-0 pb-50 pb-lg-100 ">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-6">
                <h1 class="display-3 fw-bold pb-20">It’s all about the guy next to you.</h1>
            </div>
            <div class="col-md-6">
                <p class="lead lh-lg ps-md-5"> F3 started in 2011 in Charlotte, North Carolina and has grown to more than 46 states and 4,000+ scheduled workouts each week through the efforts of men whose lives have been changed by their involvement with F3. Workouts take place at publicly accessible venues, including parks, school campuses, churches — even in parking lots!</p>
            </div>
        </div>
    </div>
</section>
<!-- END Intro -->
<section class="overflow-hidden about-img">
    <img class="w-100" src="{{ site.baseurl }}/assets/img/about/bulldog.webp" alt="The men of Bulldog AO">
</section>
<!-- BEGIN Mission -->
<section class="pt-50 pt-lg-100 pb-50 pb-lg-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="lead">
                    <p class="fw-bold fs-4">The mission of F3 is to plant, grow and serve small workout groups for the invigoration of male community leadership.
                    </p>
                    <p class="lh-lg py-4">
                        Simply put, we are a group of guys who run free, outdoor, peer-led workouts for men all over the Blue Ridge region. F3 traces its roots to a free, participant-led boot camp workout held on Saturday mornings at a Charlotte, N.C., park since 2006. The co-founders of F3 are David Redding, “Dredd,” and Tim Whitmire, “OBT,” who launched their first Saturday workout on 1/1/11 on the campus of A.G. Middle School in Charlotte.
                    </p>
                    <div class="about-video pt-2 pb-5">
                        <!-- <h5>What is F3?</h5>  -->
                        <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                                src="https://player.vimeo.com/video/143444379?h=f1570f74ee&color=127afb&byline=0"
                                style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
                        <script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="pb-4">
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/458316465&show_comments=false"></iframe>
                        <div
                            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                            <a href="https://soundcloud.com/f3nation" title="F3 Nation" target="_blank"
                                style="color: #cccccc; text-decoration: none;">F3 Nation</a> · <a
                                href="https://soundcloud.com/f3nation/f3-nation-primer-what-is-f3" title="F3 Nation Primer: What is F3?"
                                target="_blank" style="color: #cccccc; text-decoration: none;">F3 Nation Primer: What is F3?</a></div>
                    </div>
                    <p class="lh-lg">
                        There are no membership fees and no judging. All we ask is that you show up at the appointed time at one of the
                        designated workout locations to start your F3 journey. So, now you must be asking to yourself, what are the three
                        F's that make up F3?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Mission -->

<!-- BEGIN 1st F - Fitness -->
<section class="mt-100 pt-100 pb-200 bg-black">
    <div class="container">
        <div class="row justify-content-center position-relative pb-50">
            <div class="three-f">
                <h2 class="display-1 fw-bold">Fitness</h2>
            </div>
            <div class="col-lg-6 text-white">
                <h3 class="text-white pb-3">“The FIRST F”</h3>
                <p class="lead lh-lg"> Our workouts are <span class="fw-bold">open to men of all fitness levels</span> and are organized to keep the entire group together while ensuring a thorough beatdown for all participants. Our model, in which leadership of the workout varies from day to day and week to  week, means that workout leaders — “Qs,” in F3 lingo — are constantly introducing new exercises and ways of doing them. Because participants are challenged and pushed in new ways every day, they achieve an all-around fitness that makes F3 guys supremely fit for endurance challenges, including mud runs, obstacle races, triathlons, marathons, long-distance relays and all manner of other adventure challenges.

                <p class="lead lh-lg py-4">While the classic F3 workout requires no equipment other than workout clothes, gravity and the great outdoors, our growth has allowed regional leaders to introduce specialized workouts, including bike rides, gear-focused workouts that include kettlebells and other heavy metal, track workouts for runners and trail runs. F3 workouts take place at publicly accessible venues, including parks, school campuses, churches — even in parking lots!
                </p>

                <p class="lead lh-lg">And while the vast majority of F3 workouts launch before the sun is up — largely because that's the time of day when F3 guys can be most certain of being able to control their schedules — some regions are experimenting with evening workouts.
                </p>
            </div>
            <div class="col-lg-6 fitness-images d-none d-lg-block">
                <div class="image-1">
                    <img class="layer wow rotateInUpRight" data-wow-delay="1.2s" data-depth="0.2"
                        src="{{ site.baseurl }}/assets/img/about/ape.webp" alt="Ape working out">
                </div>
                <div class="image-2">
                    <img class="layer wow rotateInUpRight" data-wow-delay="0.6s" data-depth="0.15"
                        src="{{ site.baseurl }}/assets/img/about/capital-stairclimb.webp" alt="men on stairs">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END 1st F - Fitness -->

<!-- BEGIN 2nd F - Fellowship -->
<section class="mt-100 pt-60 pb-100">
    <div class="container">
        <div class="row justify-content-end position-relative">
            <div class="three-f fellowship text-start text-lg-end">
                <h2 class="display-1 fw-bold text-white">Fellowship</h2>
            </div>
            <div class="col-lg-6 fellowship-images d-none d-lg-block order">
                <div class="image-1">
                    <img class="layer wow rotateInUpLeft" data-wow-delay="1.2s" data-depth="0.2"
                        src="{{ site.baseurl }}/assets/img/about/grow-ruck.webp" alt="Grow Ruck">
                </div>
                <div class="image-2">
                    <img class="layer wow rotateInUpLeft" data-wow-delay="0.6s" data-depth="0.15"
                        src="{{ site.baseurl }}/assets/img/about/night-valhalla.webp" alt="men at night with headlamps">
                </div>
                <div class="image-3">
                    <img class="layer wow rotateInUpRight" data-wow-delay="0.6s" data-depth="0.15"
                        src="{{ site.baseurl }}/assets/img/about/burg-bananas.webp" alt="men in garage basement">
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="pb-3">“The SECOND F”</h3>
                <p class="lead lh-lg"> It's easy to get someone out for a free workout — we call it putting the “Emotional Headlock” on a guy. But for more
                than 90% of F3 guys, the reason they keep coming back, setting their alarm for 4:15 or 5 a.m. three, four, five or six days a week is the friendships that are built in what we call “the Gloom.”

                <p class="lead lh-lg py-4">There’s something special about pushing through a brutal smokefest with another guy. We encourage those bonds by closing every workout with what we call the “CoT” (Circle of Trust). Every guy gives his birth name, his F3 nickname and his age. Even if you’re brand-new (what we call an FNG, or Friendly New Guy), we’ll slap you with an F3 nickname — the stupider and more insulting, the better — so we can remember who you are the next time you post.
                </p>

                <p class="lead lh-lg">We reinforce the Second F through organized F3 participation in physical challenges like obstacle races, mud runs, distance relay races, <a href="https://growruck.com/" class="standard" target="_blank">GORUCK</a> events and other adventures (we’ve found that, in general, the more Completely Stupid And Utterly Pointless — or “CSAUP” — an event is, the more enthusiastic F3 guys are about it). Many regions have regularly scheduled weekly happy hours, as well as other Second F events for couples and families.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- END 2nd F - Fellowship -->


<!-- BEGIN 3rd F - Faith -->
<section class="mt-100 pt-100 pb-100 bg-black">
    <div class="container">
        <div class="row justify-content-center position-relative pb-50">
            <div class="three-f faith">
                <h2 class="display-1 fw-bold">Faith</h2>
            </div>
            <div class="col-lg-6 text-white">
                <h3 class="text-white pb-3">“The THIRD F”</h3>
                <p class="lead lh-lg"> Our workouts are >open to men of all fitness levels
                    We close each COT with a brief “shout-out” led by one of the participants. Men are free to pray to their god or to speak
                    from a secular perspective — <span class="fw-bold">F3 is open to men of all faiths and no faith,</span> and the closing shout-out is generally the
                    only faith-specific component of a workout. We do it because we are thankful for the opportunity to come together and
                    build ourselves into better men and because the vocal and corporate expression of that gratitude builds a stronger F3
                    community.

                <p class="lead lh-lg py-4">Outside of the workouts, we have found that many F3 participants, after getting in the best physical shape of their
                adult lives and meeting their social needs for the first time as adults, start taking a more serious approach to
                questions of meaning and purpose. Many F3 workouts have spawned Bible studies, attendance at speaker series and other
                Third F initiatives. We encourage those efforts as supplements to the workouts and an important way for F3 participants
                to exercise leadership in their families and communities.
                </p>

            </div>
            <div class="col-lg-6 fitness-images d-none d-lg-block">
                <div class="image-1">
                    <img class="layer wow rotateInUpRight" data-wow-delay="1.2s" data-depth="0.2"
                        src="{{ site.baseurl }}/assets/img/about/cot.webp" alt="Men with bowed heads">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END 3rd F - Faith -->


<!-- BEGIN News -->
<section class="mt-50 pt-60 pb-100">
    <div class="container">
        <div class="">
            <h1 class="fw-bold">F3 in the news</h1>
        </div>
        <div class="row mt-20 pt-0 pt-md-3 gy-lg-0 gy-4">
            <div class="col-lg-3 col-md-6">
                <div class="credit-card-box-widget wow fadeInUp" data-wow-delay="0.3s">
                    <a href="https://www.menshealth.com/fitness/a25799601/f3-workouts-for-men/" target="_blank">
                        <img class="w-100" src="{{ site.baseurl }}/assets/img/about/news-mens-health-thumb.webp" alt="card">
                        <h6 class="mt-3">MEN’S HEALTH</h6>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="credit-card-box-widget wow fadeInUp" data-wow-delay="0.1s">
                    <a href="https://www.artofmanliness.com/health-fitness/fitness/podcast-324-fitness-fellowship-faith-cure-sad-clown-syndrome/"
                        target="_blank">
                        <img class="w-100" src="{{ site.baseurl }}/assets/img/about/art-of-manliness-thumb.webp" alt="card">
                        <h6 class="mt-3">Art of Manliness</h6>
                    </a>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="credit-card-box-widget wow fadeInUp" data-wow-delay="0.5s">
                    <a href="https://www.today.com/video/how-fitness-fellowship-and-faith-are-bringing-thousands-of-men-together-906361923839?v=raila&"
                        target="_blank">
                        <img class="w-100" src="{{ site.baseurl }}/assets/img/about/news-today-show-thumb.webp" alt="card">

                        <h6 class="mt-3">THE TODAY SHOW</h6>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="credit-card-box-widget wow fadeInUp" data-wow-delay="0.7s">
                    <a href="https://omaha.com/livewellnebraska/fitness/mens-outdoor-workout-group-in-omaha-focuses-on-three-fs-fitness-fellowship-and-faith/article_c5518114-4864-5e73-8ce3-716b74d9f74a.html"
                        target="_blank">
                        <img class="w-100" src="{{ site.baseurl }}/assets/img/about/news-omaha-thumb.webp" alt="card">
                        <h6 class="mt-3">OMAHA WORLD HERALD</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END News -->

{%- include cta-banner.html -%}

<!-- Frequently Asked Question start -->
<section class="pt-125 pb-120 bg_disable">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9 pb-2">
                <div class="section-title">
                    <h2 class="wow fadeInUp">Still not convinced or have a question?</h2>
                    <p class="lead">If you have any further questions or would like to learn more, feel free to reach out to us through our social media outlets or email us at <a href="mailto:hello@f3blueridge.com" class="standard">hello@f3blueridge.com.</a></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-lg-10">
                <div class="faq-widget-2">
                    <div class="accordion" id="accordionExample">
                        <div class="single-widget-one wow fadeInUp" data-wow-delay="0.1s">
                            <div class="faq-header" id="headingOne">
                                <h6 class="mb-0 " data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    What is F3's Mission and/or Purpose?<i class="icon_plus"></i><i class="icon_close"></i>
                                </h6>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="faq-body">
                                    <p><strong>The mission to plant, grow and serve small workout groups for men for the invigoration of male community leadership.</strong><br /><br /> Men need authentic relationships with other men who are working to be strong fathers, husbands and leaders. Isolation  will destroy a man! We have the opportunity to change our community and the trajectory of our families. Getting in the best shape of your life is just a by-product. The workout is what draws most men like a magnet but the relationships, brotherhood and community keeps men coming back.</p>
                                </div>
                            </div>
                        </div>

                        <div class="single-widget-one wow fadeInUp" data-wow-delay="0.3s">
                            <div class="faq-header" id="headingTwo">
                                <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Is F3 really free?<i class="icon_plus"></i><i
                                        class="icon_close"></i>
                                </h6>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="faq-body">
                                    <p>Yes, there’s no catch. F3 will forever be 100% FREE and Open to ALL men.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="single-widget-one wow fadeInUp" data-wow-delay="0.5s">
                            <div class="faq-header" id="headingThree">
                                <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">
                                    How do I find a workout?<i class="icon_plus"></i><i class="icon_close"></i>
                                </h6>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="faq-body">
                                    <p>On the <a href="/locations" class="standard">Locations page</a>, there’s a map and link to ALL available workout locations by region. Zoom in on the map to see if F3 is in your area.</p>
                                </div>
                            </div>
                        </div>

                        <div class="single-widget-one wow fadeInUp" data-wow-delay="0.7s">
                            <div class="faq-header" id="headingFour">
                                <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                    aria-expanded="true" aria-controls="collapseFour">
                                    What do I need for my first workout?<i class="icon_plus"></i><i class="icon_close"></i>
                                </h6>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="faq-body">
                                    <p>Simply pick a workout location that you want to try. All you need to bring yourself with an open mind and a positive attitude ready to get better. If you are not meeting a friend at your first workout, simply show up and introduce yourself as a new guy. You’ll be welcomed.</p>
                                </div>
                            </div>
                        </div>

                        <div class="single-widget-one wow fadeInUp" data-wow-delay="0.9s">
                            <div class="faq-header" id="headingFive">
                                <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                    aria-expanded="true" aria-controls="collapseFive">
                                    What should I wear to an F3 Workout?<i class="icon_plus"></i><i class="icon_close"></i>
                                </h6>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="faq-body">
                                    <p>Wear regular workout clothes and athletic shoes. At some locations it is a good idea to bring gloves unless you have farmer hands.</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-widget-one wow fadeInUp" data-wow-delay="1.1s">
                            <div class="faq-header" id="headingSix">
                                <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                    aria-expanded="true" aria-controls="collapseSix">
                                    Do you have any guidelines for leading a workout?<i class="icon_plus"></i><i class="icon_close"></i>
                                </h6>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                <div class="faq-body">
                                    <p>The short answer is No. After a man has participated in his first workout and got his F3 nickname he is Freed to Lead a workout. Workouts simply must follow The Five Core Principles to be an F3 workout. Other than that, you have a lot of freedoms. We do have a Guide to <a href="https://f3nation.com/q101/" target="_blank" class="standard">Your First Workout</a> to help you get started, though.</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-widget-one wow fadeInUp" data-wow-delay="1.3s">
                            <div class="faq-header" id="headingSeven">
                                <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                    aria-expanded="true" aria-controls="collapseSeven">
                                    What's up with the exercise names and lingo?<i class="icon_plus"></i><i class="icon_close"></i>
                                </h6>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                data-bs-parent="#accordionExample">
                                <div class="faq-body">
                                    <p>We like to have fun at F3, so we’ve come up with our own lingo and funny names for exercises. Check out our <a href="https://f3nation.com/lexicon/" target="_blank" class="standard">Lexicon</a> or <a href="https://f3nation.com/exicon/" target="_blank" class="standard">Exercises Database</a> to learn more.
</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Frequently Asked Question end -->