---
layout: default
---
<!-- Intro -->
<section class="pt-150 pt-lg-200 mt-lg-80 mb-lg-100 mb-60 pb-50 pb-md-100 ">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-6">
                <h1 class="display-3 fw-bold pb-20">It’s all about the guy next to you.</h1>
            </div>
            <div class="col-md-6">
                <p class="lead lh-lg ps-md-5"> F3 started in 2011 in Charlotte, North Carolina and has grown to more than 46 states and 3,400+ scheduled workouts each week through the efforts of men whose lives have been changed by their involvement with F3. Workouts take place at publicly accessible venues, including parks, school campuses, churches — even in parking lots!</p>
            </div>
        </div>
    </div>
</section>

<img class="w-100 about-img" src="{{ site.baseurl }}/assets/img/about/bulldog.webp" alt="The men of Bulldog AO">

<section class="pt-100 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="lead">
                    <p class="fw-bold fs-4">The mission of F3 is to plant, grow and serve small workout groups for the invigoration of male community leadership.
                    </p>
                    <p class="lh-lg py-4">
                        Simply put, we are a group of guys who run free, outdoor, peer-led workouts for men all over the Blue Ridge region. F3 traces its roots to a free, participant-led boot camp workout held on Saturday mornings at a Charlotte, N.C., park since 2006. The co-founders of F3 are David Redding, “Dredd,” and Tim Whitmire, “OBT,” who launched their first Saturday workout on 1/1/11 on the campus of A.G. Middle School in Charlotte.
                    </p>
                    <p class="lh-lg">
                        There are no membership fees and no judging. All we ask is that you show up at the appointed time at one of the designated workout locations to start your F3 journey. So, now you must be asking to yourself, what are the three F's that make up F3?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-100 pt-100 pb-100 bg-black ">
    <div class="container">
        <div class="row justify-content-center position-relative">
            <div class="fitness">
                <h2 class="display-1 fw-bold">Fitness</h2>
            </div>
            <div class="col-lg-6 text-white">
                <h3 class="text-white pb-3">“The FIRST F”</h3>
                <p class="lead lh-lg"> Our workouts are <span class="fw-bold">open to men of all fitness levels</span> and are organized to keep the entire group together while ensuring a thorough beatdown for all participants. Our model, in which leadership of the workout varies from day to day and week to  week, means that workout leaders — “Qs,” in F3 lingo — are constantly introducing new exercises and ways of doing them. Because participants are challenged and pushed in new ways every day, they achieve an all-around fitness that makes F3 guys supremely fit for endurance challenges, including mud runs, obstacle races, triathlons, marathons, long-distance relays and all manner of other adventure challenges.

                <p class="lead lh-lg py-4">While the classic F3 workout requires no equipment other than workout clothes, gravity and the great outdoors, our growth has allowed regional leaders to introduce specialized workouts, including bike rides, gear-focused workouts that include kettlebells and other heavy metal, track workouts for runners and trail runs. F3 workouts take place at publicly accessible venues, including parks, school campuses, churches — even in parking lots!
                </p>

                <p class="lead lh-lg">And while the vast majority of F3 workouts launch before the sun is up — largely because that's the time of day when F3 guys can be most certain of being able to control their schedules — some regions are experimenting with evening workouts.
                </p>
            </div>
            <div class="col-lg-6 fitness-images">
                <div class="image-1">
                    <img class="layer wow rotateInUpRight" data-wow-delay="1.2s" data-depth="0.2"
                        src="{{ site.baseurl }}/assets/img/about/ape.webp" alt="Ape working out">
                </div>
                <div class="image-2">
                    <img class="layer wow rotateInUpRight" data-wow-delay="0.6s" data-depth="0.15"
                        src="{{ site.baseurl }}/assets/img/about/capital-stairclimb.webp" alt="men on stairs">
                </div>
            </div>
        </div>
    </div>
</section>
