<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRN8Q7M9" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {%- include preloader.html -%}
    {%- include header.html -%}


    <main aria-label="Content" id="js-focused-element">
      {{ content }}
    </main>

    {%- include footer.html -%}

    <!-- Back to top button -->
    <a href="https://forms.gle/qta3Kz4xitGNTqs16" target="_blank" id="feedback" title="Feedback" data-bs-toggle="tooltip" data-bs-title="Feedback"><i class="bi bi-chat-dots-fill"></i></a>

    <!-- Back to top button -->
    <a id="back-to-top" title="Back to Top" data-bs-toggle="tooltip" data-bs-title="Back to Top"></a>

    <!-- JS here -->
    <script type="text/javascript" src="{{ 'assets/js/jquery-3.6.0.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/preloader.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{'assets/js/jquery.smoothscroll.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.waypoints.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{'assets/js/jquery.counterup.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.nice-select.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/slick.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.fancybox.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/parallax.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.parallax-scroll.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/nouislider.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/wNumb.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/flatpickr.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/wow.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/custom.js' | relative_url }}"></script>


  </body>

</html>
