---
layout: default
---
<!-- Intro -->
<section class="pt-150 pt-lg-200 mt-lg-80 mb-lg-100 mb-60 pb-50 pb-md-100 ">
  <div class="container">
    <div class="row justify-content-start">
        <div class="col-md-6">
            <h1 class="display-3 fw-bold pb-20">You've got this.</h1>
        </div>
        <div class="col-md-6">
            <p class="lead lh-lg"> This could be the <span class="fw-bold">beginning of something BIG</span>...that is, if you decide to take action. F3 isn't just a workout group - its a brotherhood of regular guys looking to better each other. You don't have to be in shape or know anything about exercise. Don't let <span class="fw-bold"><a href="" class="underline1" data-bs-toggle="modal" data-bs-target="#applyModal">your excuses</a></span> remove you from opportunity. </p>
            <p class="lead pt-4">Are you intrigued yet? If so, read on my friend!</p>
        </div>
        <!-- Excuses Modal -->
        <div class="modal job-application-modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-3" id="exampleModalLabel">Top 5 Excuses Guys Make</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="lead mb-5">We've been at this F3 thing for a while now, so we've heard pretty much every excuse as to why a guy can't come to a free workout with other guys at a time of day when the rest of the world is still asleep. Here, our choices for The Top Five Excuses men make to not give F3 a try:</p>

                    <h5>1. “I need to get in shape before coming to an F3 workout”</h5>
                    This is No. 1 with a bullet on the F3 Excuse Charts. For a lot of guys it gives them all the wiggle room they need in
                    their minds to try an F3 workout and to be honest there's really nothing you can do on your own that's going to get you
                    ready for that first workout. Almost no one working out in a gym or on the streets (let alone coming off the couch)
                    combines the kind of aerobic and bodyweight fitness that F3 workouts demand. So you need to make the choice to join a
                    bunch of other men and push through the pain. Because “I need to get in shape” is really just a way of keeping the
                    commitment just over the horizon, always just out of reach. The only way to get in shape is to put yourself in the
                    middle of a group of other men and force yourself to keep up with the Pack. The good news is…our Credo is that “We leave
                    no man behind, but no man where we find him.”

                    <h5 class="mt-4">2: “I already belong to a gym.”</h5>

                    Hey, that's great. I bet it really rockets you out of bed every morning to think about another exciting day on the
                    treadmill, headphones plugged in so you can listen to the SportsCenter anchors run through yet another rendition of “Hot
                    or Cold? Brought to You by Miller Lite” while the plastic ficus next to you waves gently in the 68-degree
                    climate-controlled splendor. Meanwhile, elsewhere in your home city, men are gathering of their own free will in
                    temperatures ranging from 9 to 90 degrees and conditions ranging from starlit to monsoon to sweltering to give it their
                    all for an hour and launch into the day with power and impact. Trust us, there's a difference.

                    <h5 class="mt-4">3: “That's too early to get up to work out. I'm really not a morning workout guy.”</h5>

                    Oh, yeah…we know you. You're the “Lunch Hour Workout Guy” until that 11 a.m. conference call runs long and you don't
                    have time to workout and get back for the 1:30 meeting, so You'll have to run over to Chick-fil-A to grab some fast food
                    that you can pretend isn't “fast food,” but You'll definitely get out in time to hit the YMCA before you go home except
                    your wife calls and she needs you to go pick up your son from basketball practice so she can get your daughter from
                    violin lessons and still get home in time to put dinner on the table and meet her friends for girls' night out at 7:30
                    and, well… now you're “Tomorrow Workout Guy,” aren't you?

                    <h5 class="mt-4">4: “I'm already working with a personal trainer.”</h5>

                    Yeah, I can tell. Really getting your money's worth there, aren't you? And you're paying this guy or girl how much to
                    count your reps and hold a clipboard? Did I mention the Fourth F that comes after Fitness, Fellowship, and Faith? It's
                    called: FREE.

                    <h5 class="mt-4">5: “This sounds like some sort of cult.”</h5>

                    Back when our father's fathers ran the world, a bunch of men gathering at odd hours to engage in common effort for the
                    common good and with an eye toward the larger improvement of the world around them and the raising up of men to be
                    leaders was simply plain vanilla, old-fashioned civic engagement, and it was what grown men did. If society has moved so
                    far toward atomization and self-absorption that free assembly and group pride qualifies as cultish behavior, then so be
                    it, but we will be the ones, in the words of the late William Buckley, standing “athwart history, yelling stop.”
                </div>
            </div>
        </div>
    </div>
  </div>
</section>

<div class="container-fluid get-started-img bg-black"></div>

<section class="pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pb-60">
                <h2 class="fw-bold">Everything you need to know about F3 Blue Ridge.</h2>
            </div>
        </div>
        <div class="about-video pt-2 pb-5">
            <!-- <h5>What is F3?</h5>  -->
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                    src="https://player.vimeo.com/video/143444379?h=f1570f74ee&color=127afb&byline=0"
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 pb-20">
                <h4>It starts at 5:30 a.m.</h4>
                <em>(You get used to doing things you thought were impossible.)</em>
            </div>
            <div class="col-md-6 fs-5">
                <p>Ah, the biggest barrier to showing up. We know it sounds crazy-and it sounds weird saying this, but you will come to genuinely love waking up early and getting a jump start on your day. You'll also love the time you get to yourself without emails, kids, spouses, and daily life creeping in. F3 is a break from all of that.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 pb-20">
                <h4>It's a 45 minute boot-camp style workout.</h4>
            </div>
            <div class="col-md-6 fs-5">
                <p>F3 is a a peer-lead, non-professional boot camp-style workout.
                Everyday is different (depending on who is leading) but the exercises are typically running, pushups, jumping jacks, burpees, stuff like that — and then occasionally doing something called “Murder Bunnies” with a cinder block, but I don't want to freak you out.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 pb-20">
                <h4>It's always outside - usually at a park or school.</h4>
            </div>
            <div class="col-md-6 fs-5">
                <p>We literally meet in parking lots of parks and schools around the Virginia area. I got to tell you, those places where your kids play baseball look completely different at 5:30 a.m. A core principle of F3 is that the workouts are always held outdoors. It's dark, quiet, and wonderful. We call it “The Gloom.”.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 pb-20">
                <h4>No one will yell at you. It's not a competition. It's just you versus you.</h4>
            </div>
            <div class="col-md-6 fs-5">
                <p>So if you're imagining a drill Sargent yelling at you to do pushups, you've got it all wrong. In fact, it's pretty much the opposite of that. The men of F3 Blue Ridge are here to encourage you, whatever your ability, age or fitness level. We have the saying “Leave no man behind, but leave him better than you found him.” So no yelling. Just the occasional fist bump.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 pb-20">
                <h4>It's completely free. No strings.</h4>
            </div>
            <div class="col-md-6 fs-5">
                <p>So yeah, F3 is a free mens workout. There is nothing to buy. No up sell, or cult to join. There's no points or rewards. No affiliate program or multi-level pyramid of recruitment incentives. It's just simply free. There is nothing to rent. No one to pay. Just a group of guys that come together at 5:30 a.m. in parking lots around the Blue Ridge area to work out.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 pb-20">
                <h4>It has nothing to do with religon.</h4>
            </div>
            <div class="col-md-6 fs-5">
                <p>F3 stands for Fitness, Fellowship & Faith®. The faith thing can be a turn off to some men - so let's unpack it a little. F3 is not a Christian organization. A lot of men in the group are, but F3 itself has nothing to do with any religion. We end every workout with a positive thought for the day. It could be a reflection or perspective from whomever is leading the workout. Some may call that a prayer. Whatever you call it, it's food for the soul. Our version of faith isn't to get you to join a church - we just want you to believe in something bigger than yourself. Even if it's the man next to you.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 pb-20">
                <h4>It's all ages. There are men from 22 - 65.</h4>
            </div>
            <div class="col-md-6 fs-5">
                <p>F3 is open to all men. We don't care if you're in your 20s or 70s, you have a place here. The nature of our workouts is you versus you. No matter your age, F3 will have you push yourself, without hurting yourself. Besides, there are some 60 year olds in the group who put us all to shame. Respect, Respect.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 pb-20">
                <h4>There are multiple locations</h4>
            </div>
            <div class="col-md-6 fs-5">
                <p>F3 Blue Ridge is held on some of the finest parking lots, parking garages, parks, and public spaces in the Blue Ridge area. We keep expanding. Any location is probably only a 15-minute drive from your house. That means you can sleep in until 5 a.m. <a href="{{ site.baseurl }}/locations" class="standard">Find a location near you</a>.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 pb-20">
                <h4>But I can't do a _______! I haven't worked out in years.</h4>
            </div>
            <div class="col-md-6 fs-5">
                <p>Wait, wait. Let me make sure I understand. You can't do push ups? You're not a runner? You're about 50 lbs. overweight? You've never worked out in your life and you don't know how? You're maybe a little embarrassed by your physical condition? Perfect. Start tomorrow. There will be other men there in the same boat as you. No one will judge you on your shape — and they won't try to “motivate you” into shape. They will just be by your side during the workout, and probably offer you coffee afterwards. You got this.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-black pt-30">
    <div class="container">
        <div class="row gy-5 pt-50 pb-100">
            <div class="section-title">
                <h3 class="wow fadeInUp text-light text-start">Our 5 Core Principles</h3>
            </div>
            <div class="row mt-50 gy-xl-0 gy-5 d-flex justify-content-start justify-content-lg-between text-center">
                <div class="col-xl-2 col-lg-3 col-sm-4 col-12">
                    <span class="country-widget wow fadeInLeft" data-wow-delay="0.1s">
                        <img src="{{ site.baseurl }}/assets/img/home/icon-free.svg" alt="free icon">
                        <h5 class="text-light fw-normal mt-4">Free of Charge</h5>
                    </span>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-4 col-12">
                    <span class="country-widget wow fadeInLeft" data-wow-delay="0.3s">
                        <img src="{{ site.baseurl }}/assets/img/home/icon-all-men.svg" alt="open to all men icon">
                        <h5 class="text-light fw-normal mt-4">Open to all men</h5>
                    </span>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-4 col-12">
                    <span class="country-widget wow fadeInLeft" data-wow-delay="0.5s">
                        <img src="{{ site.baseurl }}/assets/img/home/icon-rain.svg" alt="outdoors icon">
                        <h5 class="text-light fw-normal mt-4">Held outdoors, rain or shine, heat or cold</h5>
                    </span>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-4 col-12">
                    <span class="country-widget wow fadeInLeft" data-wow-delay="0.7s">
                        <img src="{{ site.baseurl }}/assets/img/home/icon-peer-led.svg" alt="peer-led icon">
                        <h5 class="text-light fw-normal mt-4">Peer-led in a rotating fashion</h5>
                    </span>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-4 col-12">
                    <span class="country-widget wow fadeInLeft" data-wow-delay="0.9s">
                        <img src="{{ site.baseurl }}/assets/img/home/icon-cot.svg" alt="circle of trust icon">
                        <h5 class="text-light fw-normal mt-4">Ends with a Circle of Trust</h5>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Customize Card section start-->
<section class="customize-card-area pt-lg-100 pt-80 pb-lg-100 pb-20 bg_disable" id="card_area_animation">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pe-lg-0">
                <div class="mb-lg-35 text-start">
                    <h2 class="wow fadeInUp fw-bold mb-4">Do I need to bring anything?</h2>
                    <p class="text-lead fs-5 wow fadeInUp" data-wow-delay="0.3s"><span class="fw-bold">YES.</span> There are a few items we'd recommend for your first F3 workout.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center get-started">
            <div class="col-lg-6">
                <div class="feature-card-widget-5 wow fadeInUp mt-sm-0 mt-5 d-flex flex-column flex-md-row" data-wow-delay="0.1s">
                    <div class="icon mr-20 mb-4">
                        <img src="{{ site.baseurl }}/assets/img/get-started/icon-gloves.webp" alt="gloves">
                    </div>
                    <div class="card-content">
                        <h5>Bring some gloves</h5>
                        <p>Your fingertips and palms will thank you. Leather or rubberized-palm work gloves from your local hardware store are common. Think something between golf glove and ski glove.</p>
                    </div>
                </div>
                <div class="feature-card-widget-5 wow fadeInUp mt-30 d-flex flex-column flex-md-row" data-wow-delay="0.3s">
                    <div class="icon mr-20 mb-4">
                        <img src="{{ site.baseurl }}/assets/img/get-started/icon-coupon.webp" alt="the coupon">
                    </div>
                    <div class="card-content">
                        <h5>Bring a cinder block.</h5>
                        <p>A.K.A. the “Coupon”. While most workouts involve body weight exercises, we incorporate a cinder block into the workouts, occasionally. Ok, usually. Lots of us carry spares, too.</p>
                    </div>
                </div>
                <div class="feature-card-widget-5 wow fadeInUp mt-30 mb-30 d-flex flex-column flex-md-row" data-wow-delay="0.5s">
                    <div class="icon mr-20 mb-4">
                        <img src="{{ site.baseurl }}/assets/img/get-started/icon-weather.webp" alt="weather icon">
                    </div>
                    <div class="card-content">
                        <h5>Dress for the conditions.</h5>
                        <p>There's no such thing as bad weather, just bad gear. Wicking materials are recommended for both the cold and hot conditions. And wash your gear after. It stinks.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-lg-50 d-none d-md-block">
                <div class="card-img mb-5 mb-sm-0">
                    <img class="img-fluid" src="{{ site.baseurl }}/assets/img/get-started/coupons.webp" alt="gloves">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Customize Card section end-->

{%- include cta-banner.html -%}