---
layout: default
---

{%- include home-hero-banner.html -%}

<section class="feature-area-2 pt-140 pb-140 bg-black" >
  <div class="container">
    <div class="feature">
      <div class="row gy-lg-0 gy-4 text-white">
        <h1 class="text-white">We are F3 Blue Ridge.</h1>
        <h4 class="text-white">Free and open to all men.</h4>
        <p class="text-white">Yes, you read that right - FREE as in no cost. There’s no joining fee, monthly membership or expenses in the fine print.
        No catch. And we welcome men of all sizes, ages, athletic abilities, colors and creeds. Seriously. You are welcome here.</p>
      </div>
      <hr>
    </div>
        <div class="section-title">
          <h1 class="wow fadeInUp">Our Core Principles</h1>
        </div>
        <div class="row mt-50 gy-xl-0 gy-4 text-center">
          <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
            <a href="#" class="country-widget wow fadeInLeft" data-wow-delay="0.1s">
              <img src="{{ site.baseurl }}/assets/img/home-5/country-1.png" alt="country">
              <h5>Free of Charge</h5>
            </a>
          </div>
          <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
            <a href="#" class="country-widget wow fadeInLeft" data-wow-delay="0.3s">
              <img src="{{ site.baseurl }}/assets/img/home-5/country-2.png" alt="country">
              <h5>Open to all men</h5>
            </a>
          </div>
          <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
            <a href="#" class="country-widget wow fadeInLeft" data-wow-delay="0.5s">
              <img src="{{ site.baseurl }}/assets/img/home-5/country-3.png" alt="country">
              <h5>Held outdoors, rain or shine, heat or cold</h5>
            </a>
          </div>
          <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
            <a href="#" class="country-widget wow fadeInLeft" data-wow-delay="0.7s">
              <img src="{{ site.baseurl }}/assets/img/home-5/country-4.png" alt="country">
              <h5>Peer-led in a rotating fashion</h5>
            </a>
          </div>
          <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
            <a href="#" class="country-widget wow fadeInLeft" data-wow-delay="0.9s">
              <img src="{{ site.baseurl }}/assets/img/home-5/country-5.png" alt="country">
              <h5>Ends with a Circle of Trust</h5>
            </a>
          </div>
        </div>
</section>
