---
layout: default
---

{%- include home-hero-banner.html -%}

<section class="feature-area-2 pt-50 pb-140" >
  <div class="container">
    <img src="{{ site.baseurl }}/assets/img/logo/f3-blue-ridge-seal.webp" class="logo-seal d-block m-auto text-center" alt="F3 Blue Ridge Seal">
      <div class="row gy-lg-0 gy-4 text-white">
        <div class="col-lg-5 wow fadeInLeft mt-0" data-wow-delay="0.1s">
          <h1 class="text-white display-1 fw-bold">We are F3 Blue Ridge.</h1>
          <h3 class="text-white my-4 py-2 fw-medium">Free and open to all men.</h3>
          <p class="text-white lead">Yes, you read that right - <span class="fw-bold">FREE</span> as in no cost. There’s no joining fee, monthly membership or expenses in the fine print.
          No catch. And we welcome men of all sizes, ages, athletic abilities, colors and creeds. Seriously. You are welcome here.</p>
          <a href="{{ site.baseurl }}/get-started" class="theme-btn theme-btn-xlg mt-40 mb-20">Let's Get Started!</a>
        </div>
        <div class="col-lg-6 offset-lg-1">
          <div class="feature-card-widget-6 align-items-center wow fadeInLeft mt-sm-0 mt-5" data-wow-delay="0.1s">
            <div class="icon align-items-center justify-content-center">
              <img src="{{ site.baseurl }}/assets/img/card/emoji-fitness.webp" alt="fitness icon">
            </div>
            <div class="card-content">
              <h6>Fitness</h6>
              <p>Open to all men of any fitness level. Workouts are peer-led and designed to be challenging for all, while not leaving anyone behind.
            </div>
          </div>
          <div class="feature-card-widget-6 align-items-center wow fadeInRight mt-30" data-wow-delay="0.3s">
            <div class="icon align-items-center justify-content-center">
              <img src="{{ site.baseurl }}/assets/img/card/emoji-fellowship.webp" alt="fellowship icon">
            </div>
            <div class="card-content">
              <h6>Fellowship</h6>
              <p>Bonds of genuine friendship formed in the pre-dawn Gloom and strengthened through social gatherings, races, and endurance challenges​</p>
            </div>
          </div>
          <div class="feature-card-widget-6 align-items-center wow fadeInRight mt-30" data-wow-delay="0.5s">
            <div class="icon align-items-center justify-content-center">
              <img src="{{ site.baseurl }}/assets/img/card/emoji-faith.webp" alt="faith icon">
            </div>
            <div class="card-content">
              <h6>Faith</h6>
              <p>We define this as simply a belief in something bigger than yourself. F3 is open to men of all faiths and no faith.</p>
            </div>
          </div>
        </div>
      </div>

    <hr class="border border-3 mt-80 mb-80">

    <div class="section-title">
      <h3 class="wow fadeInUp text-light text-start">Our Core Principles</h3>
    </div>
    <div class="row mt-50 gy-xl-0 gy-5 d-flex justify-content-start justify-content-lg-between text-center">
      <div class="col-xl-2 col-lg-3 col-sm-4 col-12">
        <span class="country-widget wow fadeInLeft" data-wow-delay="0.1s">
          <img src="{{ site.baseurl }}/assets/img/home/icon-free.svg" alt="free icon">
          <h5 class="text-light fw-normal mt-4">Free of Charge</h5>
        </span>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-12">
        <span class="country-widget wow fadeInLeft" data-wow-delay="0.3s">
          <img src="{{ site.baseurl }}/assets/img/home/icon-all-men.svg" alt="open to all men icon">
          <h5 class="text-light fw-normal mt-4">Open to all men</h5>
        </span>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-12">
        <span class="country-widget wow fadeInLeft" data-wow-delay="0.5s">
          <img src="{{ site.baseurl }}/assets/img/home/icon-rain.svg" alt="outdoors icon">
          <h5 class="text-light fw-normal mt-4">Held outdoors, rain or shine, heat or cold</h5>
        </span>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-12">
        <span class="country-widget wow fadeInLeft" data-wow-delay="0.7s">
          <img src="{{ site.baseurl }}/assets/img/home/icon-peer-led.svg" alt="peer-led icon">
          <h5 class="text-light fw-normal mt-4">Peer-led in a rotating fashion</h5>
        </span>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-12">
        <span class="country-widget wow fadeInLeft" data-wow-delay="0.9s">
          <img src="{{ site.baseurl }}/assets/img/home/icon-cot.svg" alt="circle of trust icon">
          <h5 class="text-light fw-normal mt-4">Ends with a Circle of Trust</h5>
        </span>
      </div>
    </div>
</section>

{%- include client-testimonials.html -%}

{%- include cta-banner.html -%}
