---
layout: default
---

{% for location in site.locations %}
{% if location.url == page.url %}
<!-- Banner start -->
<section class="location pt-150 pt-lg-200">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 mx-auto">
                <div class="banner-content text-center">
                    <div class="section-title">
                        <div class="breadcrumb-content pt-0 pt-lg-3">
                            <h1 class="wow fadeInUp text-light pb-1">{{ location.title }}</h1>
                            <ul class="text-light breadcrumb d-flex justify-content-center pt-3">
                                <li class="breadcrumb-item"><a href="{{ site.baseurl }}/locations" class="link-offset-3">Locations</a></li>
                                <li class="breadcrumb-item active">{{ location.title }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="location-images container-fluid overflow-hidden position-relative">
        <div class="row">
            <div class="col-12">
                    <div class="location-slider">
                        {% for item in page.slider-images %}
                        <div class="mx-2" data-wow-delay="0.9s">
                            <img class="w-sm-auto w-100" src="{{ item.image1 | prepend: site.baseurl }}" alt="AO image">
                        </div>
                        <div class="mx-2" data-wow-delay="1.1s">
                            <img class="w-sm-auto w-100" src="{{ item.image2 | prepend: site.baseurl }}" alt="AO image">
                        </div>
                        <div class="mx-2" data-wow-delay="1.3s">
                            <img class="w-sm-auto w-100" src="{{ item.image3 | prepend: site.baseurl }}" alt="AO image">
                        </div>
                        <div class="mx-2" data-wow-delay="1.5s">
                            <img class="w-sm-auto w-100" src="{{ item.image4 | prepend: site.baseurl }}" alt="AO image">
                        </div>
                        <div class="mx-2" data-wow-delay="1.7s">
                            <img class="w-sm-auto w-100" src="{{ item.image5 | prepend: site.baseurl }}" alt="AO image">
                        </div>
                        <div class="mx-2" data-wow-delay="1.9s">
                            <img class="w-sm-auto w-100" src="{{ item.image6 | prepend: site.baseurl }}" alt="AO image">
                        </div>
                        <div class="mx-2" data-wow-delay="2.1s">
                            <img class="w-sm-auto w-100" src="{{ item.image7 | prepend: site.baseurl }}" alt="AO image">
                        </div>
                        <div class="mx-2" data-wow-delay="2.3s">
                            <img class="w-sm-auto w-100" src="{{ item.image8 | prepend: site.baseurl }}" alt="AO image">
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner end -->
<section class="job-application-area pt-10 pt-lg-40 mt-40 mt-lg-80 pb-120 bg_white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
                <div class="job-description-widget">
                    <div class="single-description-para">
                        <h3>Overview</h3>
                        <p>{{ location.content | markdownify }}</p>
                    </div>
                    <div class="single-description-para">
                        <h3>News &amp; Events</h3>
                        <ul>
                            <li><a href="" class="fancy-link">Some AO-tagged News or Event <i class="arrow_right"></i></a></li>
                            <li><a href="" class="fancy-link">Another AO-tagged News or Event <i class="arrow_right"></i></a></li>
                            <li><a href="" class="fancy-link">Yet again, AO-tagged News or Event <i class="arrow_right"></i></a></li>
                            <li><a href="" class="fancy-link">AO-tagged News or Event <i class="arrow_right"></i></a></li>
                            <li><a href="" class="fancy-link">Some AO-tagged News or Event with a silly long title that has no business being this long <i class="arrow_right"></i></a></li>
                        </ul>
                    </div>
                    <div class="single-description-para">
                        <h3>Location Map</h3>
                        <div class="pb-20">
                            <iframe src="{{ location.location-map-embed }}" width="100%" height="400" style="border:0" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                    <div class="single-description-para">
                        <h3>AO Goal Setting</h3>
                        <ul>
                            <li>some goal 1</li>
                            <li>another goal</li>
                            <li>you guessed it! another goal here too</li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 pl-lg-55 order-1 order-lg-2">
                <div class="right-sidebar-widget sticky_sidebar_widget">
                    <div class="single-sidebar-widget mt-25 widget-border ">
                        <div class="widget-title">
                            <h5>AO Information</h5>
                        </div>
                        <div class="widget-content pt-15 pb-25 pr-25 pl-25">
                            <ul>
                                {% for item in page.quicksheet %}
                                <li><span class="name">Name</span><span class="value">{{ item.name }}</span></li>
                                <li><span class="name">Founded on</span><span class="value">{{ item.founded }}</span>
                                </li>
                                <li>
                                    <span class="name">Workout "Beatdown" Schedule</span>
                                    <ul>
                                        {% assign scheduleArray = item.schedule | split: ',' %}
                                        {% for schedule in scheduleArray %}
                                        <li>{{ schedule | strip }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li><span class="name">Address</span><span class="value"><a href="{{ location.google-maps-url }}" target="_blank">{{ location.address-name }}<br /> {{location.address }}</a></span>
                                </li>
                                <li><span class="name">Site Q</span><span class="value">{{ item.siteQ }}</span>
                                </li>
                                <li><span class="name">Contact:</span><span class="value"><a href="mailto:f3blueridge@gmail.com">f3blueridge@gmail.com</a></span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}
{% endfor %}