---
layout: default
---
























<section class="pt-200 pb-80">
  <div class="container">
    {%- if page.title -%}
      <h1 class="page-heading py-3">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}



          <div class="">
            <div class="blog-post-widget">
              <div class="row gy-4 ">
                <div class="col-md-4">
                  <div class="blog-widget-2 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-img">
                      <img src="/assets/img/blog/blog-1.png" alt="blog-img">
                      <div class="catagory bg_primary">buisiness</div>
                    </div>
                    <div class="blog-content">
                      <h4><a href="blog-details.html">Five Steps to Buying for Your Home Loan</a>
                      </h4>
                      <p>Cup of char brilliant horse play bro bread sloshed lavatory only...</p>
                      <div class="post-info">
                        <div class="author">
                          <img src="/assets/img/blog/user-profile.svg" alt="user profile">
                          <span>Zain Siphron</span>
                        </div>
                        <div class="post-date">
                          <img src="/assets/img/blog/calendar-outline.svg" alt="calendar">
                          <span>March 18, 2021</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="blog-widget-2 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-img">
                      <img src="/assets/img/blog/blog-1.png" alt="blog-img">
                      <div class="catagory bg_primary">buisiness</div>
                    </div>
                    <div class="blog-content">
                      <h4><a href="blog-details.html">Five Steps to Buying for Your Home Loan</a>
                      </h4>
                      <p>Cup of char brilliant horse play bro bread sloshed lavatory only...</p>
                      <div class="post-info">
                        <div class="author">
                          <img src="/assets/img/blog/user-profile.svg" alt="user profile">
                          <span>Zain Siphron</span>
                        </div>
                        <div class="post-date">
                          <img src="/assets/img/blog/calendar-outline.svg" alt="calendar">
                          <span>March 18, 2021</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="blog-widget-2 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-img">
                      <img src="/assets/img/blog/blog-1.png" alt="blog-img">
                      <div class="catagory bg_primary">buisiness</div>
                    </div>
                    <div class="blog-content">
                      <h4><a href="blog-details.html">Five Steps to Buying for Your Home Loan</a>
                      </h4>
                      <p>Cup of char brilliant horse play bro bread sloshed lavatory only...</p>
                      <div class="post-info">
                        <div class="author">
                          <img src="/assets/img/blog/user-profile.svg" alt="user profile">
                          <span>Zain Siphron</span>
                        </div>
                        <div class="post-date">
                          <img src="/assets/img/blog/calendar-outline.svg" alt="calendar">
                          <span>March 18, 2021</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="blog-widget-2 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-img">
                      <img src="/assets/img/blog/blog-1.png" alt="blog-img">
                      <div class="catagory bg_primary">buisiness</div>
                    </div>
                    <div class="blog-content">
                      <h4><a href="blog-details.html">Five Steps to Buying for Your Home Loan</a>
                      </h4>
                      <p>Cup of char brilliant horse play bro bread sloshed lavatory only...</p>
                      <div class="post-info">
                        <div class="author">
                          <img src="/assets/img/blog/user-profile.svg" alt="user profile">
                          <span>Zain Siphron</span>
                        </div>
                        <div class="post-date">
                          <img src="/assets/img/blog/calendar-outline.svg" alt="calendar">
                          <span>March 18, 2021</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="blog-widget-2 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-img">
                      <img src="/assets/img/blog/blog-1.png" alt="blog-img">
                      <div class="catagory bg_primary">buisiness</div>
                    </div>
                    <div class="blog-content">
                      <h4><a href="blog-details.html">Five Steps to Buying for Your Home Loan</a>
                      </h4>
                      <p>Cup of char brilliant horse play bro bread sloshed lavatory only...</p>
                      <div class="post-info">
                        <div class="author">
                          <img src="/assets/img/blog/user-profile.svg" alt="user profile">
                          <span>Zain Siphron</span>
                        </div>
                        <div class="post-date">
                          <img src="/assets/img/blog/calendar-outline.svg" alt="calendar">
                          <span>March 18, 2021</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="blog-widget-2 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-img">
                      <img src="/assets/img/blog/blog-1.png" alt="blog-img">
                      <div class="catagory bg_primary">buisiness</div>
                    </div>
                    <div class="blog-content">
                      <h4><a href="blog-details.html">Five Steps to Buying for Your Home Loan</a>
                      </h4>
                      <p>Cup of char brilliant horse play bro bread sloshed lavatory only...</p>
                      <div class="post-info">
                        <div class="author">
                          <img src="/assets/img/blog/user-profile.svg" alt="user profile">
                          <span>Zain Siphron</span>
                        </div>
                        <div class="post-date">
                          <img src="/assets/img/blog/calendar-outline.svg" alt="calendar">
                          <span>March 18, 2021</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



    {% if site.paginate %}
      {% assign posts = paginator.posts %}
    {% else %}
      {% assign posts = site.posts %}
    {% endif %}


    {%- if posts.size > 0 -%}
      {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
      {%- endif -%}
      <ul class="post-list list-unstyled">
        {%- assign date_format = site.bootstrap.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <li class="mb-5">
          <span class="post-meta text-muted">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link text-decoration-none" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.excerpts.show -%}
            {%- if site.excerpts.auto_truncate -%}{{ post.excerpt | truncatewords: 32 }}{%- else -%}{{ post.excerpt }}{%- endif -%}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>

      {% if site.paginate %}
        <div class="pager">
          <ul class="pagination">
          {%- if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
          {%- else %}
            <li><div class="pager-edge">•</div></li>
          {%- endif %}
            <li><div class="current-page">{{ paginator.page }}</div></li>
          {%- if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
          {%- else %}
            <li><div class="pager-edge">•</div></li>
          {%- endif %}
          </ul>
        </div>
      {%- endif %}

    {%- endif -%}

  </div>
</section>