---
layout: default
---
<section class="pt-200 pb-80">
  <div class="container">
    {%- if page.title -%}
      <h1 class="page-heading py-3">{{ page.title }}</h1>
    {%- endif -%}

    <h5 class="page-heading py-2">2025</h5>

    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Date(s)</th>
          <th scope="col">Event Name</th>
          <th scope="col">Description</th>
          <th scope="col">Links</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>January</td>
          <td class="w-25">Make America Burpee Again (MABA)</td>
          <td class="w-50">It’s MABA time! MABA is Make America Burpee Again, the annual challenge in which participants do 100 burpees a day every day in January.</td>
          <td><a href="https://f3maba.com/" class="standard"
              target="_blank">Sign Up!</a></td>
        </tr>
        <tr>
          <td>TBD</td>
          <td>TBD</td>
          <td>TBD</td>
          <td>TBD</td>
        </tr>

      </tbody>
    </table>

    <br />

    <h5 class="page-heading py-2">2024</h5>

      <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">Date(s)</th>
            <th scope="col">Event Name</th>
            <th scope="col">Description</th>
            <th scope="col">Links</th>
          </tr>
        </thead>
        <tbody>
          <tr class="opacity-50">
            <td>10/15 - 11/15</td>
            <td class="w-25">Halloween Candy Challenge</td>
            <td class="w-50">Got a sweet tooth? We mapped out 28 exercises and assigned them to a corresponding letter or number. If you eat the candy, you spell out the name and do the exercises.</td>
            <td><a href="https://f3blueridge.slack.com/archives/C02AQTAS05R/p1728930651127849" class="standard" target="_blank">Learn More</a></td>
          </tr>
          <tr class="opacity-50">
            <td>10/26</td>
            <td>8th Annual Fall Old Rag Sunrise Hike 2024</td>
            <td>Don't miss this awesome opportunity to get out on the trail with other HIMs and watch an awesome sunrise. Is there a better way to start your day!? Reach out to Ape for more information.</td>
            <td><a href="https://f3blueridge.slack.com/archives/C02AQT753HR/p1727314460183599" class="standard" target="_blank">Learn More</a></td>
          </tr>
          <tr class="opacity-50">
            <td>10/30</td>
            <td>4 Year Manniversary (Balls Bluff)</td>
            <td>Get Pumped! It's our Region's 4 year Manniversary. This is a region wide convergence.Plan to stand down and show up to Balls Bluff on Wednesday October 30th at 0530. No excuses!</td>
            <td><a href="https://f3blueridge.slack.com/archives/C02AQTAS05R/p1728412459395479" class="standard" target="_blank">Learn More</a></td>
          </tr>
          <tr class="opacity-50">
            <td>11/4 - 12/31</td>
            <td>Blue Ridge Galaxy Challenge</td>
            <td>The Blue Ridge Galaxy Challenge will run from Monday Nov 4th - Dec 31st. The goal of the challenge will be to Post at all 8 AO’s in the timeframe.At the end of the year we'll tally the number of PAX who completed the challenge and get some patches to pass out!</td>
            <td><a href="/news/event/galaxy-challenge-2024" class="standard">Learn More</a></td>
          </tr>
          <tr class="opacity-50">
            <td>11/2</td>
            <td>Paintball @Hogback Mountain</td>
            <td>Looking for a fun and active day out with your 2.0? Come play low-impact paintball at Hogback Mountain on November 2nd with other HIMs and their 2.0s. It's a perfect activity for all ages and skill levels!</td>
            <td><a href="https://f3blueridge.slack.com/archives/C02AX064Q5A/p1728228683776749" class="standard" target="_blank">Learn More</a></td>
          </tr>
          <tr class="opacity-50">
            <td>11/3</td>
            <td>Sprouts 5K in Ashburn</td>
            <td>Let's make a big impact at the Sprouts 5K in Ashburn on November 3rd! We have a chance to promote F3 and recruit new members for our local AO, "The Burn." Let's spread the word and encourage some guys to join us in the gloom!</td>
            <td><a href="https://f3blueridge.slack.com/archives/C02AQTAS05R/p1728585848601719" class="standard" target="_blank">Learn More</a></td>
          </tr>
          <tr class="opacity-50">
            <td>11/9</td>
            <td>The GRUNT (D.C.)</td>
            <td>Mark your calendars! The Grunt is coming, 9 November at the Lincoln Memorial (0700-0900). This is not a CSAUP event, because it’s awesome and has the point of honoring our veterans. This year, two of your favorite Blue Ridge PAX will be leading one section of the larger beatdown!</td>
            <td><a href="https://f3blueridge.slack.com/archives/C02AQTAS05R/p1728214538761849" class="standard" target="_blank">Learn More</a></td>
          </tr>
          <tr class="opacity-50">
            <td>11/11</td>
            <td>Chad 1000 (Bulldog)</td>
            <td>The Chad 1000 is coming to Bulldog. You've been put on notice!</td>
            <td><a href="https://chad1000x.com/" class="standard" target="_blank">Learn More</a></td>
          </tr>
          <tr class="opacity-50">
            <td>11/23</td>
            <td>Purcellville Pub Ruck</td>
            <td>Discover Purcellville on foot with the Pub Ruck! Enjoy a leisurely hike while stopping at local pubs for refreshing drinks and delicious food. The Purcellville Pub Ruck is the perfect way to combine exercise and enjoyment.</td>
            <td>More coming soon...</td>
          </tr>
          <tr class="opacity-50">
            <td>12/14</td>
            <td>Leesburg Xmas Parade</td>
            <td>Get ready Spread some holiday cheer at the Leesburg Christmas Parade! As we participate in this festive event, we'll also be promoting F3 and our mission. </td>
            <td>More coming soon...</td>
          </tr>
        </tbody>
      </table>


   <!--  WIP
    {{ content }}

    {% if site.paginate %}
      {% assign posts = paginator.posts %}
        {% else %}
      {% assign posts = site.posts %}
    {% endif %}

    {%- if posts.size > 0 -%}
      {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
      {%- endif -%}

          <div class="">
            <div class="blog-post-widget">
              <div class="row gy-4 ">

                {%- assign date_format = site.bootstrap.date_format | default: "%b %-d, %Y" -%}
                {%- for post in posts -%}
                <div class="col-md-6">
                  <div class="blog-widget-2 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-img">
                      <img src="{{ post.thumbnail }}"" alt="blog-img">
                      <div class="catagory bg_primary">{{ post.categories }}</div>
                    </div>
                    <div class="blog-content">
                      <h4><a class="post-link text-decoration-none" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                      </a>
                      </h4>
                      <p>
                      {%- if site.excerpts.show -%}
                        {%- if site.excerpts.auto_truncate -%}{{ post.excerpt | truncatewords: 32 }}
                        {%- else -%}{{ post.excerpt }}{%- endif -%}
                      {%- endif -%}
                    </p>
                      <div class="post-info p-0">
                         <div class="author">
                          <img src="/assets/img/blog/user-profile.svg" alt="user profile">
                          <span>Zain Siphron</span>
                        </div>
                        <div class="post-date">
                          <img src="/assets/img/blog/calendar-outline.svg" alt="calendar">
                          <span>{{ post.date | date: date_format }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      {%- endfor -%}
              </div>
            </div>
          </div>
{%- endif -%} -->
  </div>
</section>