---
layout: default
---
<section class="pt-200 pb-145 bg_disable">
    <div class="container pt-40">
        <div class="section-title text-start pt-5 pt-md-0">
            <h2 class="wow fadeInUp">Oh, hey there.</h2>
            <p class="wow fadeInUp" data-wow-delay="0.3s">For FNGs and PAX alike, the swirl of inside-baseball lingo, jargon, CSAUPS, rucks, news, and events mentioned at your average F3 workout can be a bit confusing. Below are some nation and local-level resources to help make sense of some of those references.</p>
        </div>

        <div class="row gy-4 mt-30">
            <div class="col-md-6 col-lg-4">
                <div class="feature-card-widget-7 wow fadeInUp" data-wow-delay="0.1s">
                    <h4>Leadership Guide</h4>
                    <p>Known as the "QSource", this is the integrated expression of F3’s leadership philosophy. It is our leadership manual. </p>
                    <a href="https://f3nation.com/q/" class="theme-btn theme-btn-outlined mb-4 mt-45" target="_blank">Learn more</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-card-widget-7 wow fadeInUp" data-wow-delay="1.1s">
                    <h4>F3 Nation Map</h4>
                    <p>Looking to post downrange? Check out the nation map to find the nearest AO while your away from home and change it up a bit.
                    </p>
                    <a href="https://map.f3nation.com/" class="theme-btn theme-btn-outlined mb-4 mt-45  " target="_blank">View Now</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-card-widget-7 wow fadeInUp" data-wow-delay="0.5s">
                    <h4>GrowRuck</h4>
                    <p>GrowRuck is a weekend-long event that combines F3 GrowSchool with an overnight Rucking event event to immediately apply F3 leadership skills.
                    </p>
                    <a href="https://growruck.com/" class="theme-btn theme-btn-outlined mb-4 mt-45 ">Find out more</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-card-widget-7 wow fadeInUp" data-wow-delay="0.7s">
                    <h4>F3 Gear</h4>
                    <p>Wondering where those fellow PAX got those slick F3 shirts, hoodies and gear from? Look, no further than the F3 MudGear store.
                    </p>
                    <a href="https://f3.mudgear.com/" class="theme-btn theme-btn-outlined mb-4 mt-45" target="_blank">Explore Gear</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-card-widget-7 wow fadeInUp" data-wow-delay="0.9s">
                    <h4>Lexicon</h4>
                    <p>Designed to help you get a handle on the F3 lingo, sayings, expressions, acronyms, etc. - it will come in handy when attempting to decipher chatter.
                    </p>
                    <a href="https://f3nation.com/lexicon/" class="theme-btn theme-btn-outlined mb-4 mt-45" target="_blank">View Now</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-card-widget-7 wow fadeInUp" data-wow-delay="0.9s">
                    <h4>Exicon</h4>
                    <p>Trying to make sense of the exercises you heard the other day? Need something new for your first or 100th Q? This is the resource.
                    </p>
                    <a href="https://f3nation.com/lexicon/" class="theme-btn theme-btn-outlined mb-4 mt-45 " target="_blank">View Now</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-card-widget-7 wow fadeInUp" data-wow-delay="0.3s">
                    <h4>F3 Nation Podcasts</h4>
                    <p>The official audio and podcasts of the F3 Nation including 43 Feet, The COT (Circle of Trust), F3 Q Source,
                        Hunt for Wellness Podcast and The Roundtable.
                    </p>
                    <a href="https://f3nation.com/podcast/" class="theme-btn theme-btn-outlined mb-4 mt-45"
                        target="_blank">Discover</a>
                </div>
            </div>
       </div>
    </div>
</section>
<!-- job feature end -->